body{
    background-color: rgba(207, 223, 242, 1);
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    margin-top: 80px;
    max-width: 250px;
    max-height: 250px;
}

.body{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 30px;
    text-align: center;
}

.right{
    text-align: right;
    display: inline;
    margin-top:20px;
}

.nav{
    text-decoration: underline;
}

.nav-bar{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 18px;
}